sudo: false
language: php

php:
  - 5.6
  - 7.0
  - hhvm
  - nightly

matrix:
  fast_finish: true
  allow_failures:
    - php: hhvm
    - php: nightly

before_script:
  - composer self-update
  - composer install --no-interaction --prefer-source --dev

script: make test
